<!DOCTYPE html>
<html>
  <head>
    <title>SwiperApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CDNで読み込む -->   
    <!-- app/views/layouts/application.html.erbに記述されたものは全ページ共通 -->
    <!-- CDNのjQueryを読み込む位置を"javascript_pack_tag"の上に記述するのが適切 -->
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
